.window {
  background: white;

  .in {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .userid,
  .nick,
  .email,
  .school,
  .lastlogin,
  .registertime,
  .defunct,
  .resetpwd,
  .privilege,
  .delete {
    text-align: center;
  }

  .userid,
  .nick,
  .email,
  .school {
    width: 11%;
  }

  .lastlogin,
  .registertime {
    width: 12%;
  }

  .defunct {
    width: 10%;
  }

  .resetpwd {
    width: 7%;
  }

  .privilege {
    width: 8%;
  }

  .delete {
    width: 7%;
  }

}

.modal.ng-star-inserted {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  input {
    height: 40px;
    width: 250px;
    margin-bottom: 10px;
  }
}

::ng-deep .ant-pagination-item-active {
  border-color: #cc00ff !important;

  a {
    color: #cc00ff;

    &:hover {
      color: #cc00ff;
    }
  }
}

::ng-deep .ant-pagination-item:hover {
  border-color: #cc99ff !important;

  a {
    color: #cc99ff;

    &:hover {
      color: #cc99ff;
    }
  }
}

::ng-deep .ant-pagination-prev:hover .ant-pagination-item-link {
  border-color: #cc99ff !important;
  color: #cc99ff;
}

::ng-deep .ant-pagination-next:hover .ant-pagination-item-link {
  border-color: #cc99ff !important;
  color: #cc99ff;
}

::ng-deep .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon {
  color: #cc99ff;
}

::ng-deep .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
  color: #cc99ff;
}

.ant-input-affix-wrapper {
  height: 40px;

  &:nth-child(1) {
    width: 250px;
  }

  &:nth-child(2) {
    width: 150px;
  }

  margin-right: 10px;

  &:focus,
  &:hover {
    border-color: #cc99ff;
  }

  &:focus {
    box-shadow: 0 0 0 2px #ccccff;
  }
}

.ant-input-affix-wrapper-focused {
  border-color: #cc99ff;
  box-shadow: 0 0 0 2px #ccccff;
}

::ng-deep .ant-table-pagination-right {
  justify-content: center;
}
