<nz-layout class="window">
  <div class="ranklist">
    <nz-card nzTitle="排名">
      <nz-table #ranlistTable [nzData]="ranlistData" [nzShowPagination]='false' [nzLoading]="isLoading"
        [nzPageSize]="10">
        <thead>
          <tr>
            <th class="rank">名次</th>
            <th class="user">用户</th>
            <th class="sign">个性签名</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ranlistTable.data let rank=index">
            <td class="rank">{{rank+1}}</td>
            <td class="user"><a routerLink="/userinfo/{{data.user_id}}">{{data.user_id}}</a></td>
            <td class="sign">{{data.signature}}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
  <div class="problemset">
    <nz-card nzTitle="最近更新">
      <nz-table #problemsetTable [nzData]="problemsetData" [nzShowPagination]='false' [nzLoading]="isLoading"
        [nzPageSize]="10">
        <thead>
          <tr>
            <th class="title">标题</th>
            <th class="time">时间</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of problemsetTable.data">
            <td class="title">
              <a routerLink="/problem" [queryParams]="{ problem_id: data.problem_id}">{{ data.title }}</a>
            </td>
            <td class="time">{{datePipe.transform(data.in_date, 'yyyy-MM-dd')?.toString()}}
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
  <div class="contestset">
    <nz-card nzTitle="近期比赛">
      <nz-table #contestsetTable [nzData]="contestsetData" [nzShowPagination]='false' [nzLoading]="isLoading"
        [nzPageSize]="10">
        <thead>
          <tr>
            <th class="title">比赛标题</th>
            <th class="time">时间</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of contestsetTable.data">
            <td class="title">
              <a routerLink="/contest/{{data.contest_id}}">{{ data.title }}</a>
            </td>
            <td class="time">{{datePipe.transform(data.start_time, 'yyyy-MM-dd HH:mm:ss')?.toString()}}
            </td>
          </tr>
        </tbody>
      </nz-table>

    </nz-card>
  </div>
</nz-layout>
