<nz-layout class="window">
  <div class="in">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="比赛编号/标题" (keypress)="($event.which===13)?searchContests():0"
        [(ngModel)]="search" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
    <button nz-button nzType="primary" nzShape="round" routerLink="/contestadd">
      <i nz-icon nzType="form" nzTheme="outline"></i>添加比赛
    </button>
  </div>
  <nz-table #basicTable [nzData]="listOfData" nzPaginationPosition='both' [nzLoading]="isLoading" [nzPageSize]="50">
    <thead>
      <tr>
        <th class="contestid">比赛编号</th>
        <th class="title">标题</th>
        <th class="star">开始时间</th>
        <th class="end">结束时间</th>
        <th class="private">公开/私有</th>
        <th class="defunct">启用/屏蔽</th>
        <th class="edit">编辑</th>
        <th class="delete">删除用户</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data let i=index">
        <td class="contestid">
          <a routerLink="/contest/{{data.contest_id}}">{{ data.contest_id }}</a></td>
        <td class="title">{{ data.title }}</td>
        <td class="star">{{ data.start_time }}</td>
        <td class="end">{{ data.end_time }}</td>
        <td class="private">
          <p [style]="'color:' + (data.private ? '#ff0000;' : '#00cd00;')">{{ data.private ? "私有" : "公开" }}</p>
        </td>
        <td class="defunct">
          <nz-switch [ngModel]="data.defunct=='N'" [nzLoading]="data.loading" (click)="setDefunct(i)"></nz-switch>
        </td>
        <td class="edit">
          <button nz-button nzType="primary" nzShape="circle" nzGhost routerLink="/contestedit"
            [queryParams]="{contest_id:data.contest_id}">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
        </td>
        <td class="delete">
          <button nz-button nzType="primary" nzShape="circle" nzDanger (click)="showDeleteConfirm(data.contest_id)">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-layout>
